@page "/"
@page "/products"

@inject ISearchProduct searchProduct

<h3>Search Product</h3>
<br/>

<SearchBarComponent OnSearch="HandleSearch"/>

<br/>

    @if (_products != null && _products.Count() > 0)
    {
        <div class="row">

            @foreach (var product in _products)
            {
                <ProductCardComponent Product="@product"/>
            }
        </div>
    }
    else
    {
        <text> Cannot find products</text>
    }

@code
{
    private IEnumerable<Product> _products;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _products = searchProduct.Execute("");
    }

    private void HandleSearch(string filter)
    {
        _products = searchProduct.Execute(filter);
    }
}