@page "/cart"
@using eShop.UseCases.ShoppingCart.Interfaces

@inject IViewShoppingCart viewShoppingCart

<h3>Shopping Cart</h3>
<br/>

@if(order == null)
{
    <h1>Loading...</h1>
} else
{
    
<div class="row"><h1>Total Items: @(order.LineItems.Count.ToString())</h1></div>
    @foreach(var item in order.LineItems)
    {
        <NavLink href="@($"product/{item.ProductId}")">@item.Product.Name</NavLink>
        <p>Quantity: @item.Quantity</p>
    }
}

@code {
    private Order order;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            order = await viewShoppingCart.Execute();
            StateHasChanged();
        }
    }
}
